@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');

/* Universal styling */
* {
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}

body {
    margin: auto;
    padding: 0;
	max-width: 1300px;
	width: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

a {
	text-decoration: none;
    cursor: pointer;
    color: black;
}

/* Header Styling */

header {
	background: url('./images/Ctablefront.jpeg') no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 800px;
    width: 100%;
}

.banner-container {
	background: rgba(255, 255, 255, 0.45);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
    width: 100%;
}

.banner-title {
	text-align: center;
	padding-left: 20px;
}

.banner-title p {
	margin-top: 0;
	font-size: 0.8rem;
}

/* External Links */

.links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.links a {
	padding: 0px 20px 0 0;
}

/* Internal Links */

.toggle {
	display: none;
}
.toggle a {
	padding: 0px 10px;
}

.menu-btn,
.gallery-btn button {
	background-color: transparent;
	outline: 0;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 5px;
	margin: 6px 10px 0 0;
	cursor: pointer;
}

.menu-btn:active {
	transform: scale(0.98);
	outline: 0;
}

/* Header to About Us transition */

.contactUs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.contactUs .banner-title {
	font-size: 2rem;
	margin: 0 -80px;
}

.contact-btn {
	margin: auto;
}

.contactbtn {
	height: 50px;
	width: 150px;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
	background-color: rgb(249, 148, 6);
}

.contactbtn:active {
	outline: 0;
}
/* Form styling*/
.form-styling {
	background-color: #d6d6d6;
	margin: -35px;
	padding: 0;
	height: 400px;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-basics {
	margin: 0 20px;
	padding: 0px 20px;
}

.form-basics input {
	height: 30px;
	width: 300px;
	padding: 10px;
	margin: 2px;
	box-shadow: 1px 1px 1px;
	border-radius: 5px;
}

.formName {
	text-align: center;
	margin-bottom: 10px;
}

.form-basics button {
	background: transparent;
	margin-top: 30px;
	height: 30px;
	width: 300px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.form-basics button:active {
	outline: none;
	transform: scale(.98);
}

textarea {
	height: 200px;
	width: 400px;
	box-shadow: 2px 5px 5px;
	perspective: 100px;
	border-radius: 5px;
}




/* About Us  */

.aboutUs {
	font-size: 3rem;
	text-align: center;
	height: 100px;
	margin-top: 10%;
	background-color: rgba(28, 132, 150, 0.275);
}

.about-section {
	margin-top: 0;
	padding: 0px 30px;
	display: flex;
	position: relative;
	background-color: rgba(28, 132, 150, 0.275);
}

.tabletop {
	flex: 1 0 20%;
	height: 450px;
}

.alexphoto {
	position: absolute;
	bottom: -40px;
	left: 30%;
	width: 220px;
	border-radius: 60%;
	z-index: 1;
}

.about-description {
	flex: 1 1 70%;
	margin: 10px;
	padding: 0 40px;
	font-size: 1.2em;
}

/* Services available  */

.services-bg {
    margin-top: 20%;
}

.services {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	text-align: center;
	margin: 0px 50px;
}

.service-box {
	border: 1px solid black;
	border-radius: 5px;
}

/* Gallery */

.gallery-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10%;
	margin-bottom: 0;
	background-color: rgba(28, 132, 150, 0.275);
	height: 300px;
}
.gallery {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.gallery-img {
	margin-right: 10%;
}

.gallery-btn button {
	background-color: rgba(206, 124, 1, 0.871);
}

.gallery-btn button:active {
	transform: scale(.98);
	outline: none;
}

footer {
	height: 100px;
	width: 100%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 2fr);
	align-items: center;
	justify-items: center;
	padding: 0;
	background-color: #a0a0a0;
}
.foot-social-media a {
	padding: 10px;
}





