@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

/* Universal styling */
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

body {
	margin: auto;
	overflow-x: hidden;
	max-width: 1300px;
	width: 100%;
	font-size: 16px;
}

h1 {
	font-weight: 300;
	font-size: 3rem;
	text-align: center;
}

p {
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 0.5px;
}

a {
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	color: black;
}

a:hover {
	transform: scale(1.2);
}

/* Header Styling */

header {
	background: url('./images/Ctablefront.jpeg') no-repeat
		center;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 800px;
	width: 100%;
}

.banner-container {
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.banner-title {
	flex: 1;
}

.banner-title p {
	margin-top: 0;
}

/* External Links */

.links {
	display: flex;
	flex: 2;
	align-items: center;
	justify-content: flex-end;
}

.links a {
	padding: 0px 20px 0 0;
}

/* Internal Links */

#toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
	opacity: 0;
	transition: all 250ms;
}

.toggle a {
	padding: 0px 10px;
}

.menu-btn {
	font-weight: 200;
	background-color: transparent;
	outline: 0;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 5px;
	margin: 6px 10px 0 0;
	cursor: pointer;
}

.menu-btn:active {
	transform: scale(0.98);
	outline: 0;
}

/* Header to About Us transition */

.contactUs {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contact-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 0;
	margin-left: -10%;
}

.contactbtn,
.gallery-btn button {
	height: 50px;
	width: 150px;
	border-radius: 5px;
	cursor: pointer;
	outline: 0;
	background-color: #303036;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 400;
}

.contactbtn:active {
	outline: 0;
}

/* About Us  */

.aboutUs {
	padding-top: 20px;
	font-size: 2.5rem;
	text-align: center;
	height: 100px;
	background-color: #22aed1;
	overflow: hidden;
}

.about-section {
	padding-bottom: 40px;
	display: flex;
	background-color: #22aed1;
}

.tabletop {
	flex: 1 0 30%;
	height: 400px;
	margin: auto;
	padding: 10px;
}

.alexphoto {
	width: 50%;
	border-radius: 50%;
}

.about-description {
	flex: 1 1 70%;
	margin: 10px;
	padding: 0 40px;
}

.about-description p {
	font-size: 1.2rem;
	font-weight: 300;
}

/* Services available  */

.services {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	text-align: center;
	margin: 40px;
}

.service-box {
	border: 2px solid black;
	border-radius: 5px;
	background-color: #303036;
	color: #fff;
}

.service-box p {
	font-weight: 300;
}

/* Gallery Section */

.gallery-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0;
	background-color: #22aed1;
	height: 300px;
}
.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gallery-btn button:active {
	transform: scale(0.98);
	outline: none;
}

/* Form Contact Us styling*/


.form-styling {
	background-color: #d6d6d6;
	padding: 0;
	height: 500px;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-basics {
	margin: 0 20px;
	padding: 0px 20px;
}

.input,
#submit,
select {
	height: 40px;
	width: 300px;
	padding: 10px;
	margin: 2px;
	box-shadow: 1px 1px 1px;
	border-radius: 5px;
	outline: 0;
}

.input:valid {
	border: 1px solid green;
}

#submit {
	margin-top: 20px;
}

#submit:hover {
	cursor: pointer;
}

#submit:active {
	box-shadow: 1px 1px 1px;
	border-radius: 5px;
	outline: 0;
}

.formName {
	text-align: center;
	padding: 20px;
}

input:focus {
	outline: 0;
	border: 0;
}

.form-basics button:active {
	outline: none;
	transform: scale(0.98);
}

textarea {
	height: 220px;
	width: 400px;
	box-shadow: 2px 5px 5px;
	perspective: 100px;
	border-radius: 5px;
	outline: 0;
}

/* Footer */

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	background-color: #303036;
	color: seashell;
}

.foot-title h1 {
	margin: 5px 0;
}

.foot-title p {
	margin-top: 0;
}

.foot-middle-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.foot-credit {
	margin-top: 20px;
	text-align: center;
}

.foot-credit p {
	color: seashell;
	font-size: 0.65rem;
}

.foot-credit p:last-child {
	margin-top: -10px;
}

.foot-credit p:last-child:hover {
	color: #ec0b43;
	transform: scale(1.2);
}

.foot-social-media a {
	padding: 10px;
	color: #ec0b43;
}

.foot-social-media i:hover {
	transform: scale(1.2);
}

.foot-contact p,
.foot-contact span {
	font-size: .8rem;
	margin: 5px;
	font-weight: 400;
}

.foot-contact a {
	cursor: pointer;
	color: seashell;
}

	/* Gallery Page */

.gallery-page-cont {
	margin-bottom: 0;
}

.gallery-page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color:  #22aed1;
}

.gallery-page-header >div {
	margin: 0rem 2rem;
}

.gallery-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	background-color:  #22aed1;
	padding: 2rem;
	margin: 0rem 2rem;
}

.gallery-section > {
	flex: 1;
}

.gallery-view {
	background: #d6d6d6;
}

.gallery-view h1 {
	margin-top: 1rem;
	padding: 1rem;
}

.gallery-section img {
	height: 200px;
	border: 4px solid #303036;
	border-radius: 5px;
}


@media only screen and (max-width: 1024px) {
	body {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.links i,
	.alexphoto {
		display: none;
	}

	.contact-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-right: 5%;
	}

	.about-section {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.services {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	textarea {
		width: 250px;
		margin-top: 10px;
	}

	footer {
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
	body {
		margin: 0;
		overflow-x: hidden;
	}

	header {
		height: 400px;
		width: 100%;
	}

	.banner-container {
		height: 75px;
		flex: 1;
	}

	.banner-title {
		margin-left: 10px;
	}

	.banner-title h1 {
		font-size: 2rem;
	}

	.banner-title p {
		font-size: 0.6rem;
		font-weight: 400;
		letter-spacing: 0.5px;
	}

	nav {
		display: flex;
		font-size: 12px;
	}

	.alexphoto,
	.tree-img img,
	.links i {
		display: none;
	}

	.contactUs {
		height: 300px;
	}

	.contact-title {
		transform: translateX(-15%);
	}

	.about-section {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.about-section p {
		font-size: 14px;
	}

	.tabletop {
		height: 200px;
	}

	.services-bg {
		padding: 0;
	}

	.services {
		grid-template-columns: 1fr;
	}

	.gallery-container {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 500px;
	}

	.gallery-img {
		margin: auto;
	}

	.form-styling {
		height: 600px;
	}

	.formName {
		padding: 10px;
	}

	.formName i {
		font-size: 20px;
	}

	form {
		flex-wrap: wrap;
	}

	.form-basics {
		margin: 0;
		padding: 0;
	}

	textarea {
		width: 200px;
		height: 100px;
		margin-top: 10px;
	}

	footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.foot-social-media,
	.foot-title,
	.foot-contact {
		flex: 1;
		margin-bottom: 10px;
	}

	.gallery-view h1,
	.gallery-page-header h1 {
		font-size: 2rem;
	}

	.gallery-page-header p{
		font-size: .5rem;
	}

	.gallery-section img {
		height: 100px;
	}
}

@media only screen and (max-width: 320px) {
	.toggle a {
		font-size: 0.8rem;
	}

	.gallery-img img {
		height: 150px;
	}

	.contact-title {
		transform: translateX(-5%);
	}

	.foot-social-media i {
		font-size: 2rem;
	}

	.gallery-view h1,
	.gallery-page-header h1 {
		font-size: 2rem;
	}

	.gallery-page-header p{
		font-size: .5rem;
	}

	.gallery-section img {
		height: 100px;
	}
}
